<table width="100%" border="0" align="center" cellpadding="7" cellspacing="0" bgcolor="#e5e5e5"
    style="font-family:Arial;   font-size: 13px; margin:0px auto;">
    <tr>
        <td style="padding:20px">
            <table align="center" border="0" cellpadding="15" cellspacing="0" width="600px">
                <tbody>
                    <tr style="background:#383737;">
                        <td valign="top" width="50%"
                            style="padding:20px; padding-bottom: 20px; border-bottom:1px solid #eee;font-size:20px;color:#fff; font-weight:bold; text-align: center; ">
                            <img style="width: 50%"
                                src="https://proserv-24851.firebaseapp.com/static/media/logo.ada9327c04c0ac9a947496c822654ea5.svg" />
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td style="font-family:arial; font-size:15px; border:1px solid #ffffff; color:#333;">
                            <h3>Dear <%= fullName %>
                                    ,</h3>
                            <p>Please use the verification code below to reset password.</p>
                            <h2>
                                <%= otpCode %>
                            </h2>
                            <p>If you didn’t request this, you can ignore this email.</b></p>
                            <br>
                            <p>Regards,<br /><br />Proserv Team</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 16px;" valign="top" align="center" bgcolor="#383737">
                            <table cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td style="font-family: 'Arial', sans-serif; font-size: 13px; ; line-height: 20px; font-weight: normal; color: #ffffff;"
                                            valign="top" align="left">
                                            © 2023 Powered by Proserv Team
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>